/* shared style  */
.primary-color {
    color: #4E47FF;
}

body {
    background: #f5f8ff;
}

.description {

    font-weight: 400;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}

.btn {
    background-color: #4E47FF;
    border-radius: 10px;
    padding: 12px 36px;
    width: 132px;
    height: 48px;
    border: none;
}

.text-center {
    text-align: center;
}

.banner-btn {
    width: 174px;
}

.action-btn {
    border-radius: 10px;
    padding: 12px 36px;
    width: 229px;
    height: 48px;
    width: 229px;
}

/* header  */
.header {
    background-image: url("../Assets/Hero-bg.png");
    padding: 0px 0px 200px;
    width: 1440px;
    height: 698px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* nav styles */
nav {
    margin: 0px 150px 158px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {

    font-weight: 900;
    font-size: 34px;
    line-height: 150%;

}

.banner {
    margin: 0 267px;

}

/* action style  */
.action {
    margin: 116px 159px 116px 141px;
    display: flex;
    justify-content: space-between;
    gap: 220px;
    align-items: center;
}

.action .action-container .title {

    font-weight: 700;
    font-size: 42px;
    color: #252432;

}

.action .action-container .subtitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 125%;
    color: rgba(37, 36, 50, 0.5);
}

.action-container {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.action .img-container img {
    border-radius: 48px;
    width: 403px;
    height: 328px;
}

/* productive users section  */

.productive-users-section {
    border-radius: 24px;
    padding: 50px 80px;
    margin: 116px 159px 137px 141px;
    height: 306px;
    background: rgba(78, 71, 255, 0.1);
}

.pro-u-s-title {

    font-weight: 700;
    font-size: 38px;
    text-align: center;
    color: #252432;
}

.count-title-same {

    font-weight: 700;
    font-size: 80px;

}

.pro-u-s-count {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    gap: 158px;
}

/* user say  */
.users-say {
    margin: 137px 149px;
}

.users-say-heading {

    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #1e1e1e;
}

.img-title {

    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #757575;
}

.img-sub-title {

    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #b3b3b3;
}

.Reviewer-container {
    display: flex;
    gap: 6px;
}

.card-container {
    display: flex;
    gap: 20px;
}

.card {

    border: 1px solid #f2eded;
    border-radius: 14px;
    padding: 24px;
    width: 366px;
    height: 243px;
    min-width: 240px;
    background-color: #ffffff;

}

/* focus style  */
.focus {
    margin: 137px 150px 92px 137px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.focus-heading {

    font-weight: 700;
    font-size: 50px;
    line-height: 120%;
    color: #000;
}

.focus-subtitle {

    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: rgba(0, 0, 0, 0.5);
}

.focus .btn {
    width: 195px
}

.focus-img img {

    border-radius: 48px;
    width: 840px;
    height: 364px;
    /* width: 100%; */


}

/* touch design  */
.touch {
    margin: 92px 150px 14px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 71px;
}

.touch-title {

    font-weight: 700;
    font-size: 97px;
    line-height: 120%;
    color: #000;
}

/* input[type='email']  */

.re-input {
    display: block;
    width: 100%;
    border: 1px solid #d6dded;
    /* border: none; */
    outline: none;
    /* background: #fff; */
    border-radius: 10px;
    padding: 20px 32px;
    /* width: 497px; */
    height: 20px;


}

textarea {
    width: 100%;
    /* padding: 20px 40px 35px 12px; */
    border: 1px solid #d6dded;
    border-radius: 10px;
    padding: 20px 32px;
    width: 497px;
    height: 135px;
}

form .btn {
    width: 100%;
}

.footer {
    margin: 104px 455px 135px 455px;
}

.footer-title {

    font-weight: 900;
    font-size: 100px;


}

.footer-subtitle {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #8987a1;
}

.footer-link ul {
    display: flex;
    gap: 48px;
}

.footer-link ul li {
    list-style: none;

}

.footer-link ul li a {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #8987a1;
}