/* shared style  */
.primary-color {
    color: #4E47FF;
}

.btn {
    background-color: #4E47FF;
    border-radius: 10px;
    padding: 12px 36px;
    width: 132px;
    height: 48px;
    border: none;
}

.text-center {
    text-align: center;
}

.banner-btn {
    width: 174px;
}

.action-btn {
    border-radius: 10px;
    padding: 12px 36px;
    width: 229px;
    height: 48px;
    width: 229px;
}

/* header  */
.header {
    background-image: url("../Assets/Hero-bg.png");
    padding: 0px 0px 200px;
    width: 1440px;
    height: 698px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* nav styles */
nav {
    margin: 0px 150px 158px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {

    font-weight: 900;
    font-size: 34px;
    line-height: 150%;

}

.banner {
    margin: 0 267px;

}

/* action style  */
.action {
    margin: 116px 159px 116px 141px;
    display: flex;
    justify-content: space-between;
    gap: 220px;
    align-items: center;
}

.action .action-container .title {

    font-weight: 700;
    font-size: 42px;
    color: #252432;

}

.action .action-container .subtitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 125%;
    color: rgba(37, 36, 50, 0.5);
}

.action-container {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.action .img-container img {
    border-radius: 48px;
    width: 403px;
    height: 328px;
}